html,
body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior-x: none;
}

:root {
  --kritzel-primary-color: #dd0031;

  --kritzel-selection-box-background-color: rgba(221, 0, 48, 0.2);
  --kritzel-selection-box-border-color: rgba(221, 0, 48, 0.5);
  --kritzel-selection-border-color: var(--kritzel-primary-color);
  --kritzel-selection-border-width: 2px;
  --kritzel-selection-border-style: solid;
  --kritzel-selection-handle-size: 6px;
  --kritzel-selection-handle-color: #000000;

  --kritzel-context-menu-background-color: #ffffff;
  --kritzel-context-menu-border-radius: 12px;
  --kritzel-context-menu-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  --kritzel-context-menu-border: 1px solid #ebebeb;
  --kritzel-context-menu-padding: 4px;
  --kritzel-context-menu-item-gap: 8px;
  --kritzel-context-menu-item-padding: 8px;
  --kritzel-context-menu-item-border-radius: 12px;
  --kritzel-context-menu-item-color: #333333;
  --kritzel-context-menu-item-font-size: 14px;
  --kritzel-context-menu-item-hover-background-color: hsl(0, 0%, 0%, 4.3%);
  --kritzel-context-menu-item-active-background-color: hsl(0, 0%, 0%, 8.6%);
  --kritzel-context-menu-item-disabled-color: #aaaaaa;

  --kritzel-controls-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  --kritzel-controls-border: 1px solid #ebebeb;
  --kritzel-controls-border-radius: 16px;
  --kritzel-controls-background-color: #ffffff;
  --kritzel-controls-padding: 8px;
  --kritzel-controls-gap: 8px;
  --kritzel-controls-control-color: #000;
  --kritzel-controls-control-border-radius: 12px;
  --kritzel-controls-control-padding: 8px;
  --kritzel-controls-control-hover-background-color: hsl(0, 0%, 0%, 4.3%);
  --kritzel-controls-control-active-background-color: hsl(0, 0%, 0%, 8.6%);
  --kritzel-controls-control-selected-background-color: var(
    --kritzel-primary-color
  );
  --kritzel-controls-control-selected-color: #ffffff;
  --kritzel-controls-divider-width: 1px;
  --kritzel-controls-divider-height: 24px;
  --kritzel-controls-divider-background-color: hsl(0, 0%, 0%, 4.3%);
  --kritzel-tooltip-background-color: #fff;
  --kritzel-tooltip-color: #000;
  --kritzel-tooltip-border-radius: 16px;
  --kritzel-tooltip-padding: 8px;
  --kritzel-tooltip-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);

  --kritzel-color-palette-hover-background-color: #ebebeb;
  --kritzel-color-palette-circle-border-color: #dddcdc;
  --kritzel-color-palette-selected-border-color: var(--kritzel-primary-color);
  --kritzel-color-palette-selected-background-color: #ebebeb;
  --kritzel-color-palette-expand-toggle-color: #666;
  --kritzel-color-palette-expand-toggle-hover-color: #333;

  --kritzel-stroke-size-hover-background-color: #ebebeb;
  --kritzel-stroke-size-selected-border-color: var(--kritzel-primary-color);
  --kritzel-stroke-size-selected-background-color: #ebebeb;
  --kritzel-stroke-size-circle-color: #000;

  --kritzel-cursor-trail-color: rgb(228, 228, 228);
  --kritzel-cursor-trail-opacity: 0.6;

  --kritzel-engine-background-color: #ffffff;

  --kritzel-menu-item-selected-background-color: var(--kritzel-primary-color);
  --kritzel-menu-item-input-selection-color: var(--kritzel-primary-color);

  --kritzel-snap-indicator-stroke: var(--kritzel-primary-color);

  --kritzel-dropdown-accent-color: var(--kritzel-primary-color);
  --kritzel-dropdown-selected-background-color: rgba(221, 0, 48, 0.1);
}
